/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

div {
  font-weight: lighter;
  white-space: pre-line;
}

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #fdf6e2;
  --ion-color-primary-rgb: 230, 220, 214;
  --ion-color-primary-contrast: #969173;
  --ion-color-primary-contrast-rgb: 119, 113, 90;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #969173;
  --ion-color-secondary-rgb: 119, 113, 90;
  --ion-color-secondary-contrast: #969173;
  --ion-color-secondary-contrast-rgb: 230, 220, 214;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-background-color: #f9f9f9;

  --ion-font-family: "Roboto"
}

ion-modal ion-card,
.popover-viewport ion-card {
  box-shadow: none;
  margin: 0;
}

ion-card .image {
  max-height: 230px;
  width: 230px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-card .description {
  min-height: 92px;
}

.modal-custom .modal-wrapper {
  max-width: 1000px;
  width: 1000px;
}

h2 {
  margin-top: -5;
  font-family: "Amatic SC";
  font-weight: bold;
  font-size: xx-large;
}
